# .NET Core Derleme Klasörleri
bin/
obj/

# IDE (Visual Studio, VS Code, Rider) Ayarları
.vs/
.vscode/
.idea/
*.user

# Test Sonuçları ve SonarQube Raporları (README'de belirtilenler)
TestResults/
*.opencover.xml
.sonarqube/

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db